

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/api/productos">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/form">Agregar</a>
  </li>
</ul>